= simple_form_for(@custom_field) do |f|
  = f.error_notification

  .inputs
    = f.input :name
    = f.input :type, :collection => CustomField::TYPES, :include_blank => false
    = f.input :values, :input_html => { :value => (@custom_field.values || []).join(' ')}

  .actions
    = f.button :submit, :class => "btn primary"
