%h1 Listing custom_fields

%table.zebra-striped
  %tr
    %th Name
    %th
    %th
    %th

  - @custom_fields.each do |custom_field|
    %tr
      %td= custom_field.name
      %td= link_to 'Show', custom_field
      %td= link_to 'Edit', edit_custom_field_path(custom_field)
      %td= link_to 'Destroy', custom_field, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Custom field', new_custom_field_path
