%h1 Listing comments

%table
  %tr
    %th Text
    %th
    %th
    %th

  - @comments.each do |comment|
    %tr
      %td= comment.text
      %td= link_to 'Show', work_item_comment_path(comment.id, :work_item_id => @work_item.id)
      %td= link_to 'Edit', edit_work_item_comment_path(comment.id, :work_item_id => @work_item.id)
      %td= link_to 'Destroy', work_item_comment_path(comment.id, :work_item_id => @work_item.id), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Comment', new_work_item_comment_path(@work_item)
