%h1 Listing users

%table.zebra-striped
  %tr
    %th Username
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.name
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New User', new_user_path
