= simple_form_for(@work_item) do |f|
  = f.error_notification

  .inputs
    = f.input :name
    = f.input :user_id, :collection => User.all, :include_blank => false
    - if @work_item.new_record?
      = f.input :project, :collection => Project.all, :include_blank => false
      = f.input :work_item_type, :collection => WorkItemType.all, :include_blank => false
    - else
      - @work_item.work_item_type.custom_fields.to_a.each do |custom_field|
        .input
          = label_tag "work_item[#{custom_field.name}]", custom_field.name
          - if custom_field.type == 'option'
            = select_tag "work_item[#{custom_field.name}]", options_for_select(custom_field.values)
          - else
            = text_field_tag "work_item[#{custom_field.name}]", @work_item[custom_field.name]

  .actions
    = f.button :submit, :class => "btn primary"
