%h1 Listing work_items

= form_tag work_items_path, :method => :get do
  = text_field_tag :q, params[:q]
  = submit_tag "Search", :class => "btn primary"
  - if params[:q]
    = link_to "Clear", work_items_path, :class => "btn"

%table.zebra-striped
  %thead
    %tr
      %th Name
      %th User
      %th Work item type
      %th
      %th
      %th
      %th
  %tbody
    - @work_items.each do |work_item|
      %tr
        %td= work_item.name
        %td= work_item.user
        %td= work_item.work_item_type
        %td
          = work_item.comments.size
          = link_to 'Comments', work_item_comments_path(work_item)
        %td= link_to 'Show', work_item
        %td= link_to 'Edit', edit_work_item_path(work_item)
        %td= link_to 'Destroy', work_item, :confirm => 'Are you sure?', :method => :delete

= paginate @work_items

%br

= link_to 'New Work item', new_work_item_path
