%h1 Listing documents

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @documents.each do |document|
    %tr
      %td= document.name
      %td= link_to 'Show', document
      %td= link_to 'Edit', edit_document_path(document)
      %td= link_to 'Destroy', document, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Document', new_document_path
