%h1 Listing projects

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @projects.each do |project|
    %tr
      %td= project.name
      %td= link_to 'Show', project
      %td= link_to 'Edit', edit_project_path(project)
      %td= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Project', new_project_path
