= simple_form_for(@work_item_type) do |f|
  = f.error_notification

  .inputs
    = f.input :name
    = f.association :custom_fields, :as => :check_boxes, :collection => CustomField.all

  .actions
    = f.button :submit, :class => "btn primary"
