%h1 Listing work_item_types

%table.zebra-striped
  %tr
    %th Name
    %th
    %th
    %th

  - @work_item_types.each do |work_item_type|
    %tr
      %td= work_item_type.name
      %td= link_to 'Show', work_item_type
      %td= link_to 'Edit', edit_work_item_type_path(work_item_type)
      %td= link_to 'Destroy', work_item_type, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Work item type', new_work_item_type_path
