!!!
%html
  %head
    %title VersativeMongo
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .topbar
      .fill
        .container
          %h3= link_to "Project", root_path
          
          %ul
            %li{:class => (:active if params[:controller] == "projects")}= link_to "Projects", projects_path
            %li{:class => (:active if params[:controller] == "users")}= link_to "Users", users_path
            %li{:class => (:active if params[:controller] == "custom_fields")}= link_to "Custom fields", custom_fields_path
            %li{:class => (:active if params[:controller] == "work_item_types")}= link_to "Work item types", work_item_types_path
            %li{:class => (:active if params[:controller] == "work_items")}= link_to "Work items", work_items_path

    .container= yield
